* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
}

h3 {
    margin: 0;
    padding: 0;
}

.message {
    border-radius: 5px;
    display: flex;
    padding-block: 10px;
    padding-left: 12px;
    width: 1180px;
    margin-inline: auto;
    margin-bottom: 24px;
}

.icon {
    margin-right: 10px;
}

.status {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2E2E2E;
}

.success-message {
    background-color: #E6FCEF;
    border-left: 2px solid #67C38C;
}

.error-message {
    background-color: #FFEBEA;
    border-left: 2px solid #E86961;
}

.section-header {
    background-color: #2E2E2E;
    color: white;
    margin-bottom: 65px;
}

.section-header__content {
    display: flex;
    max-width: 1180px;
    margin-inline: auto;
}

.section-header__logo {
    margin-block: 24px;
}

.section-header__user-icon {
    margin-block: 21px;
    margin-right: 16px;

}

.avatar {
    border-radius: 50%;
}

.section-header__exit-icon {
    margin-block: 17px;
}

.section-header-menu {
    margin-inline: auto 0;
}

.heading {
    display: flex;
    max-width: 1180px;
    margin-inline: auto;
    margin-bottom: 32px;
}

.heading__title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 8px;
}

.heading__subtitle {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2E2E2E;
    opacity: 63%;
}

.heading__publish-button {
    padding: 12px 24px;
    margin-block: auto;
    margin-inline: auto 0;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #DD783F;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.info-area {
    background-color: white;
    padding: 40px 40px 56px;
    border-radius: 3px;
    box-shadow: 0 6px 12px -10px #00000033;
    max-width: 1180px;
    margin-inline: auto;
}

.error-help {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #E86961;
}

.main-info {
    margin-bottom: 16px;
}

.main-info__main-information {
    display: flex;
    justify-content: space-between;
}

.main-info-enter {
    padding-right: 80px;
}

.main-info__title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 40px;
}

.main-info-enter-author-img-input__label {
    display: flex;
}

.main-info-enter-author-img-input__label-img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.input-block {
    margin-bottom: 40px;
}

.input-label {
    display: block;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #7A7A7A;
    margin-bottom: 5px;
}

.input-field {
    background-color: #F7F7F7;
    border-top: none;
    border-inline: none;
    border-bottom-width: 1px;
    border-color: #2E2E2E;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 4px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 560px;
}

.main-info-enter-author-input__input-field {
    border-top: none;
    border-inline: none;
    border-bottom-width: 1px;
    border-color: #EAEAEA;
    line-height: 38px;
    width: 560px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 4px;
}

.main-info-enter-author-img-input__label-name {
    margin-bottom: 10px;
}

.main-info-enter-author-img-input__label-sign {
    display: inline-flex;
    align-items: center;
}

.main-info-enter-hero-img-input__label-img {
    width: 560px;
    height: 160px;
    border-radius: 6px;
}

.main-info-enter-hero-preview-img-input__label-img {
    width: 296px;
    height: 150px;
    border-radius: 6px;
}

.input-hidden {
    display: none;
}

.label-image {
    cursor: pointer;
}

.hero-image {
    margin-bottom: 12px;
}

.size-pointer {
    color: #999999;
}

.main-info-preview {
    mask: linear-gradient(to left, transparent, white 30%);
}

.main-info-preview-article-preview {
    background-image: url("../images/icons/article_preview.svg");
    background-size: cover;
    mask: linear-gradient(to top, transparent, white 20%);
    padding-top: 91px;
    width: 440px;
    height: 385px;
    margin-bottom: 20px;
}

.main-info-preview__article-label {
    margin-bottom: 16px;
}

.main-info-preview-article-preview__heading {
    text-align: center;
    margin-bottom: 36px;
}

.main-info-preview-article-preview__title {
    display: block;
    line-height: 24px;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 4px;
}

.main-info-preview-article-preview__subtitle {
    line-height: 12px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #2E2E2E;
    opacity: 63%;
}

.main-info-preview-article-preview__image {
    width: 408px;
    height: 160px;
    margin-left: 17px;
}

.main-info-preview__post-card-label {
    margin-bottom: 16px;
}

.main-info-preview-post-card-preview {
    width: 440px;
    height: 360px;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    mask: linear-gradient(to top, transparent, white 10%);
    padding-top: 32px;
    padding-left: 16px;
}

.main-info-preview-post-card-preview__card {
    width: fit-content;
    border: 1px solid #EAEAEA;
}

.main-info-preview-post-card-preview__image {
    width: 296px;
    height: 150px;
    border-bottom: 1px solid #EAEAEA;
}

.main-info-preview-post-card-preview__heading {
    padding: 14px 13px 32px;
    border-bottom: 1px solid #EAEAEA;
}

.main-info-preview-post-card-preview__title {
    display: block;
    font-family: "Lora", serif;
    font-weight: 400;
    line-height: 21px;
    font-size: 16px;
    color: #101315;
    margin-bottom: 7px;
}

.main-info-preview-post-card-preview__subtitle {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    line-height: 19px;
    font-size: 13px;
    color: #7A7A7A;
}

.main-info-preview-post-card-preview__info {
    display: flex;
    padding: 12px 13px 10px;
}

.main-info-preview-post-card-preview__author-img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.main-info-preview-post-card-preview__author-name {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 12px;
    color: #999999;
}

.main-info-preview-post-card-preview__date {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 12px;
    color: #999999;
    margin-inline: auto 0;
}

.content-block {
    margin-bottom: 338px;
}

.content-block__title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 40px;
}

.content-block__input-field {
    height: 160px;
    width: 940px;
    border-width: 1px;
    border-color: #EAEAEA;
    border-radius: 5px;
    padding: 8px;
    line-height: 24px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.content-block__input-field::placeholder {
    line-height: 24px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
}
