* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #F7F7F7;
}

.links {
    margin-left: auto;
    margin-right: 0;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.nav-panel {
    display: flex;
    flex-wrap: nowrap;
    max-width: 960px;
    margin-inline: auto;
}

.section-header {
    width: 100%;
    padding: 17px 0 157px;
    background-image: url("../images/main_page_images/preview/preview_image.jpg");
    background-color: #232F3899;
    background-blend-mode: darken;
    background-size: cover;
}

.section-header-nav-panel {
    margin-bottom: 110px;
}

.section-header__logo {
    margin-top: 3px;
    margin-bottom: 11px;
}
.section-header__logo:active {
    transform: scale(0.87);
}

.section-header__header-links {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-header__link {
    margin-inline: 20px;
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.section-header__hamburger-menu {
    display: none;
    width: 35px;
    padding-block: 9px 15px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.section-header__hamburger-menu-line {
    background-color: white;
    border: 1px solid #D9D9D9;
}

.section-header__popup {
    display: none;
    background-color: #2E2E2EE6;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    top: 70px;
    right: 34px;
    left: 34px;
}

.section-header__popup-link:active {
    transform: scale(0.83);
}

.section-header__popup-link {
    display: block;
    padding-inline: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Oxygen", sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
}

.preview-heading {
    text-align: center;
    margin-inline: 68px;
}

.preview-heading__title {
    font-family: "Lora", serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 20px;
}

.preview-heading__subtitle {
    font-family: "Oxygen", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-bottom: 30px;
    opacity: 63%;
}

.preview-heading__button {
    padding-inline: 31px;
    padding-block: 12px;
    background-color: #DD783F;
    border-radius: 3px;
    border: none;
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.preview-heading__button:active {
    transform: scale(0.87);
}

.menu {
    background-color: white;
}

.menu__list {
    margin-inline: 17%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.menu__link {
    display: block;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 14px;
    color: #768088;
    padding: 22px 46px;
}

.featured-content {
    max-width: 960px;
    margin-inline: auto;
    padding-top: 60px;
    padding-inline: 10px;
}

.featured-content__title {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2E2E2E;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 17px;
}

.featured-content__line {
    width: 188px;
    border: 1px solid #DEDEDE;
    margin-inline: auto;
    margin-bottom: 12px;
}

.featured-content__posts {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 20px;
    padding-block: 7px;
    justify-content: space-around;
}

.featured-content-block {
    position: relative;
    width: 48%;
    height: 280px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.featured-content-block:active {
    transform: scale(0.87);
}

.featured-content__block-heading {
    margin-block: auto 0;
    margin-left: 20px;
}

.featured-content__block-title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 27px;
    color: white;
    margin-bottom: 6px;
}

.featured-content__block-subtitle {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
    line-height: 25px;
}

.featured-content__block-info {
    display: flex;
    margin-left: 20px;
    margin-bottom: 15px;
}

.author-img {
    border-radius: 50%;
    margin-top: 5px;
    max-width: 26px;
    max-height: 26px;
}

.featured-content__author-name {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    margin-left: 10px;
    line-height: 35px;
}

.featured-content__block-date {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    line-height: 35px;
    margin-right: 20px;
    margin-left: auto;
}

.featured-content__block-type {
    height: 26px;
    width: 87px;
}

.featured-content__type {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: white;
    border-radius: 2px;
    background-color: #DD783F;
    padding: 6px 9px;
}

.recent-content {
    padding-top: 60px;
    max-width: 960px;
    margin-inline: auto;
    margin-bottom: 89px;
    padding-inline: 12px;
}

.recent-content__line {
    width: 188px;
    border: 1px solid #DEDEDE;
    margin-inline: auto;
    margin-bottom: 12px;
}

.recent-content__title {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2E2E2E;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 17px;
}

.recent-content__posts {
    padding-top: 6px;
    padding-bottom: 19px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 20px;
    justify-content: space-around;
}

.recent-content-block {
    background-color: white;
    width: 296px;
    color: black;
    border-radius: 5px;
}

.recent-content-block:active {
    transform: scale(0.87);
}

.recent-content__block-image {
    width: 100%;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.recent-content__block-heading {
    margin-top: 14px;
    margin-left: 13px;
    height: 93px;
}

.recent-content__block-title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 6px;
}

.recent-content__block-subtitle {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}

.recent-content__block-line {
    border: 1px solid #EFEFEF;
}

.recent-content__block-info {
    background-color: #FCFCFC;
    display: flex;
    height: 48px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.resent-content__author-img {
    border-radius: 50%;
    max-width: 26px;
    max-height: 26px;
    margin-top: 12px;
    margin-left: 13px;
}

.recent-content__author-name {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
    margin-top: 7px;
    margin-left: 10px;
}

.recent-content__block-date {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
    margin-left: auto;
    margin-right: 13px;
    margin-top: 7px;
}

.section-footer {
    background-image: url("../images/footer.jpg");
    background-size: cover;
    padding-top: 62px;
}

.section-footer-feedback {
    max-width: 500px;
    margin-inline: auto;
    font-size: 0;
    margin-bottom: 90px;
}

.section-footer-feedback__title {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #EFEFEF;
    text-align: center;
    margin-bottom: 18px;
}

.section-footer-feedback__line {
    width: 188px;
    color: #EFEFEF;
    margin-inline: auto;
    margin-bottom: 20px;
}

.section-footer__email-input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 75%;
    padding-block: 18px;
    padding-left: 35px;
    margin-right: 0;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.section-footer__email-input:focus {
    outline: none;
}

.section-footer__email-input::placeholder {
    color: #817F83;
}

.section-footer-feedback__submit-button {
    cursor: pointer;
    width: 25%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F8F8F8;
    background-color: #FFFFFF1C;
    padding-block: 18px;
    border: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.section-footer-feedback__submit-button:active {
    transform: scale(0.87);
}

.section-footer__nav-panel-background {
    background-color: #232F383C;
    background-blend-mode: darken;
    border-top: 1px solid #FFFFFF0C;
}

.section-footer-nav-panel {
    padding-block: 28px;
}

.section-footer-nav-panel__links {
    margin-block: 3px;
}

.section-footer-nav-panel__link {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    color: white;
    opacity: 60%;
    margin-inline: 10px;
}

@media screen and (max-width: 1366px) {
    .menu__link {
        padding-inline: 3.7%;
    }
}

@media screen and (max-width: 1024px) {
    .nav-panel {
        margin-inline: 40px;
    }

    .featured-content {
        margin-inline: 20px;
    }

    .featured-content__posts {
        gap: 25px 1.5%;
    }

    .featured-content-block {
        width: 48%;
        min-width: 345px;
    }

    .recent-content {
        margin-inline: 20px;
    }

    .recent-content__posts {
        gap: 25px 2.5%;
    }

    .recent-content-block {
        width: 30%;
        min-width: 222px;
    }
}

@media screen and (max-width: 767px) {
    .nav-panel {
        margin-inline: 40px;
    }

    .menu__list {
        flex-wrap: wrap;
    }

    .menu__link {
        padding-inline: 20px;
    }

    .featured-content__posts {
        gap: 25px 1.5%;
    }

    .featured-content-block {
        width: 100%;
        min-width: 440px;
    }

    .recent-content-block {
        width: 47.5%;
        min-width: 222px;
    }

}

@media screen and (max-width: 530px) {

    .section-header__hamburger-menu {
        display: flex;
        margin-inline: auto 0;
    }

    .section-header__header-links {
        display: none;
    }

    .recent-content-block {
        min-width: 440px;
    }

    .section-footer-feedback {
        margin-inline: 20px;
    }
}

@media screen and (max-width: 480px){
    .menu__list {
        margin-inline: auto;
        max-width: 320px;
    }

    .featured-content {
        padding-inline: 0;
    }

    .featured-content-block {
        width: 100%;
        min-width: 360px;
    }

    .recent-content {
        padding-inline: 0;
    }

    .recent-content-block {
        width: 100%;
        min-width: 360px;
    }

    .section-footer-nav-panel__logo {
        padding-bottom: 85px;
    }

    .section-footer-nav-panel__links {
        text-align: right;
    }

    .section-footer-nav-panel__link {
        display: block;
    }
}