body {
    margin: 0;
}

.header {
    height: 74px;
}

.head {
    display: flex;
    margin-top: 17px;
    margin-left: 240px;
    margin-right: 240px;
}

.header-links {
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    margin-top: 10px;
    color: rgba(46, 46, 46, 1);
}

.footer-links {
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.header-logo {
    margin-top: 3px;
}

.title {
    font-family: "Lora", serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    color: rgba(46, 46, 46, 1);
}

.subtitle {
    font-family: "Oxygen", sans-serif;
    font-size: 17px;
    color: rgba(46, 46, 46, 0.63);
    text-align: center;
    margin-bottom: 75px;
    font-weight: 400;
}

.image {
    width: 100%;
    margin-bottom: 120px;
}

.mainText {
    font-size: 24px;
    font-family: "Oxygen", sans-serif;
    width: 960px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 135px;
}

.footer {
    height: 89px;
    background-image: url("./footer.jpg");
    background-size: 100%;
    display: flex;
}

.foot {
    display: flex;
    margin-top: 28px;
    margin-left: 240px;
    margin-right: 240px;
}

.footer-logo path {
    fill: white;
}

.footer-logo {
    margin-top: 3px;
}