* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #F7F7F7;
}

.links {
    margin-left: auto;
    margin-right: 0;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.block {
    cursor: pointer;
}

.nav-panel {
    display: flex;
    flex-wrap: nowrap;
    max-width: 960px;
    margin-inline: auto;
}

.section-header {
    width: 100%;
    padding: 17px 0 157px;
    background-image: url("../images/main_page_images/preview/preview_image.jpg");
    background-color: rgba(35, 47, 56, 0.6);
    background-blend-mode: darken;
    background-size: cover;
}

.section-header__nav-panel {
    margin-bottom: 110px;
}

.section-header__logo {
    margin-top: 3px;
    margin-bottom: 11px;
}

.section-header__header-links {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-header__link {
    margin-inline: 10px;
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.preview-heading {
    text-align: center;
}

.preview__title {
    font-family: "Lora", serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 20px;
}

.preview__subtitle {
    font-family: "Oxygen", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-bottom: 30px;
    opacity: 63%;
}

.preview__button {
    padding-inline: 31px;
    padding-block: 12px;
    background-color: #DD783F;
    border-radius: 3px;
    border: none;
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.menu {
    background-color: white;
}

.menu__list {
    max-width: 960px;
    margin-inline: auto;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.menu__link {
    display: block;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 14px;
    color: #768088;
    padding-block: 22px;
}

.featured-content {
    max-width: 960px;
    margin-inline: auto;
    padding-top: 60px;
}

.content__title {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2E2E2E;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 17px;
}

.featured-content__line {
    width: 188px;
    border: 1px solid #DEDEDE;
    margin-inline: auto;
    margin-bottom: 12px;
}

.featured-content__content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 20px;
    padding-inline: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    justify-content: space-around;
}

.featured-content__block {
    width: 460px;
    height: 280px;
    position: relative;
}

.featured-content__block-heading {
    margin-top: 157px;
    margin-left: 20px;
}

.featured-content__block-title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 27px;
    color: white;
    margin-bottom: 6px;
}

.featured-content__block-subtitle {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
    line-height: 25px;
}

.featured-content__block-info {
    display: flex;
    margin-left: 20px;
}

.author-img {
    margin-top: 5px;
    max-width: 26px;
    max-height: 26px;
}

.featured-content__author-name {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    margin-left: 10px;
    line-height: 35px;
}

.featured-content__block-date {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    line-height: 35px;
    margin-right: 20px;
    margin-left: auto;
}

.featured-content__block-type {
    height: 26px;
    width: 87px;
}

.featured-content__type {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: white;
    border-radius: 2px;
    background-color: #DD783F;
    padding: 6px 9px;
}

.recent-content {
    padding-top: 60px;
    max-width: 960px;
    margin-inline: auto;
    margin-bottom: 89px;
    padding-inline: 12px;
}

.recent-content__content {
    padding-top: 6px;
    padding-bottom: 19px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 20px;
    justify-content: space-around;
}

.recent-content__block {
    background-color: white;
    width: 296px;
    margin-bottom: 25px;
}

.recent-content__block-heading {
    margin-top: 14px;
    margin-left: 13px;
    height: 93px;
}

.recent-content__block-title {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 6px;
}

.recent-content__block-subtitle {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}

.recent-content__block-line {
    border: 1px solid #EFEFEF;
}

.recent-content__block-info {
    background-color: #FCFCFC;
    display: flex;
    margin-left: 13px;
    height: 48px
}

.resent-content__author-img {
    max-width: 26px;
    max-height: 26px;
    margin-top: 12px;
}

.recent-content__author-name {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
    margin-top: 7px;
    margin-left: 10px;
}

.recent-content__block-date {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
    margin-left: auto;
    margin-right: 13px;
    margin-top: 7px;
}

.section-footer {
    background-image: url("../images/footer.jpg");
    background-size: cover;
    height: 89px;
    padding-top: 28px;
    background-color: #232f38;
    opacity: 60%;
    background-blend-mode: darken;
}

.section-footer__nav-panel {
    height: 34px;
}

.section-footer__logo {
    padding: 3px 0 5px;
}

.section-footer__links {
    padding-top: 3px;
    padding-bottom: 3px;
}

.section-footer__link {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    color: white;
    opacity: 60%;
    margin-inline: 10px;
}