* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

.section-header {
    height: 74px;
    box-sizing: border-box;
    margin-bottom: 82px;
    padding-top: 17px;
}

.section-header__nav-panel {
    height: 40px;
    max-width: 960px;
    margin-inline: auto;
    background-color: #DD783F;
}

.section-header__logo {
    display: inline-block;
    margin-top: 5px;
}

.section-header__links {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    padding-top: 10px;
    float: right;
}

.section-header__link {
    padding-inline: 20px;
    cursor: pointer;
    font-size: 12px;
    font-family: "Oxygen", sans-serif;
    color: rgba(46, 46, 46, 1);
    text-decoration: none;
}

.section-footer__link {
    padding-inline: 10px;
    cursor: pointer;
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.section-footer__links {
    float: right;
    vertical-align: middle;
    display: inline-block;
    padding-top: 10px;
}

.title {
    font-family: "Lora", serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(46, 46, 46, 1);
}

.subtitle {
    font-family: "Oxygen", sans-serif;
    font-size: 17px;
    color: rgba(46, 46, 46, 0.63);
    text-align: center;
    margin-bottom: 113px;
    font-weight: 400;
}

.image {
    width: 100%;
    margin-bottom: 140px;
}

.mainText {
    font-size: 24px;
    font-family: "Oxygen", sans-serif;
    max-width: 960px;
    margin-inline: auto;
    margin-bottom: 135px;
}

.section-footer {
    height: 89px;
    background-image: url("../images/footer.jpg");
    background-color: rgba(35, 47, 56, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    padding-top: 28px;
    box-sizing: border-box;
}

.section-footer__nav-panel {
    max-width: 960px;
    margin-inline: auto;
    height: 34px;
}

.section-footer__logo path {
    fill: white;
}

.section-footer__logo {
    display: inline-block;
    margin-top: 3px;
}